* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flexbox;
}


/*HEADER*/

.main-header {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
    margin-bottom: 50px;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.logo:hover {
    cursor: pointer;
}

.profile-link {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.profile-link:hover {
    background-color: #f0f0f0;
}


/*MAIN*/

main {
    margin: 5px;
    margin-top: 65px;
}

.pig-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80vw;
    margin: 20px auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    text-align: center;
    width: 80vw;
    margin: 20px auto;
}

h2 {
    line-height: 132%;
    font-size: 38px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px !important;
}

p {
    font-size: 18px;
    font-weight: 100;
    margin-top: 15px;
}

.pig-coin img{
    width: 800px;
    margin-right: -230px;
    margin-bottom: -250px;
}

.tetya-calc img{
    width: 800px;
    margin-bottom: -40px;
}

.info-container p {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.tetya-calc {

    background-size: contain;
    margin-left: 25%;
    margin: auto;
}
.profile-button{
    font-weight: 100;
    font-size: 20px;
    color: black;
    background-color: #ffee55;
    width: fit-content;
    padding: 10px 5%;
    border-radius: 10px;
    margin: auto;
    margin-top: 3%;
}
.profile-button:hover{
    background-color: rgb(221, 189, 73);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn{
    max-width: 200px !important;
    margin: 20px auto !important;
}

@media screen and (max-width: 1050px) {
    .pig-coin img{
        width: 600px;
        margin-right: -200px;
        margin-bottom: -200px;
    }
    
    .tetya-calc img{
        width: 600px;
    }
    .pig-container, .info-container {
        width: 100vw;
        margin: 0 auto;
    }
    h2{
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .pig-coin img{
        width: 400px;
        margin-right: -110px;
        margin-bottom: -125px;
    }
    
    .tetya-calc img{
        width: 450px;
    }
    h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 512px) {
    .pig-coin img{
        width: 275px;
        margin-right: -65px;
        margin-bottom: -75px;
    }
    
    .tetya-calc img{
        width: 300px;
    }

    .info-container{
        text-align: center;
    }

    .info-container p{
        margin: 10px auto;
        width: 80vw;
        text-align: center;
    }

    .header-container{
        padding: 0 10px;
    }

    .profile-nav{
        margin-left: 15%;
    }
}