.income-wallet,
.expenses-wallet,
.all-wallet, .add-wallet, .pre-wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: left;
    padding: 10px;
    width:23%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: fit-content;
}
.pre-wallet{
    display: flex;
    flex-direction: column;
    width: fit-content;

}

.all-wallet {
    background-color: #fae26a46;
}
.expenses-wallet{
    background-color: #ff00152c;
}

.wallet-container {
    display: flex;
    flex-direction: row;
    gap:7px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.wallet-container div{
    height: 120px;
}

.income-wallet {
    background-color: #c8e6c9a2;
}

.submit-btn-profile {
    display: block;
    margin: 0 auto;
}

button.submit-btn-profile {
    max-height: 45px;
    padding: 12px;
    background-color: #f8d81c;
    color: #2c3844;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
}

button.submit-btn-profile:hover {
    background-color: #8c741a;
    color: #f4f4f9;
}

.submit-btn-profile:active {
    background-color: #f8d93e;
}

ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}

ul .pos {
    border-radius: 5px;
    padding: 3px 10px;
    min-width: 400px;
}

.pos #sum , #sum_pos{
    color: #05c10b;
}

ul .neg {
    border-radius: 5px;
    padding: 3px 10px;
}

.neg #sum, #sum_neg {
    color: #cf1525;
}

.delete-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 500px;
    margin: 25px auto;
}

.delete-container button {
    transition: scale 0.15s ease;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.delete-container button img {
    height: 30px;
}

.delete-container button:hover {
    scale: 1.07;
}

.delete-container button:active {
    scale: 1.02;
}

.pre-wallet div{
    width: 42px;
    height: 60px;
}
.qr{
    background: url(/images/qrcodescan_120401.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.sheld{
    background: url(/images/shield.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.qr:hover, .sheld:hover{
    cursor: pointer;
    background-color: #e2e2e2;
    border-radius: 4px;
    transition: background-color 0.5s ease;

}
.add-wallet{
    height: 120px;
    text-decoration: none;
    border: 2px solid rgba(128, 128, 128, 0.13);
}
.add-wallet:hover{
    background-color: solid rgba(128, 128, 128, 0.205);
    transition: all 0.5s ease;
    
    
}
h3{
    color: rgb(41, 40, 40)
}


@media screen and (max-width: 610px) {
    .wallet-container {
        flex-direction: column;
        align-items: center;
    }
    .income-wallet,
    .expenses-wallet,
    .all-wallet, .add-wallet {
        width: 100%;
    }
}

.wallet-icon{
    width: 30px;
    height: 20px;
    /* background-color: gray; */
}
